@mixin flexPoition(){
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
@include flexPoition();
justify-content: space-evenly;
position: fixed;
z-index:  1;
top: 0;
.logo_block{
    width: 240px;
    height: 100px;
background-image: url(../../src/assets/pngicons/putevye-zametki-logo.png);
background-repeat: no-repeat;
background-size: cover;
@include flexPoition();
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}
ol{
  list-style-type: none;
@include flexPoition();  
gap: 15px;
width: auto;
  li{
    
    padding: 15px;
@include flexPoition();
gap: 5px;
   a{
    text-decoration: none;
    transition: all 0.5s;
    color: #686666;
    position: relative;
    &::before{
content:" ";
position: absolute;
bottom: -7px;
left: 0;
border: 1px solid;
width: 0;
opacity: 0;
background-color: #686666;
height: 1px;
visibility: hidden;
transition: all 0.5s;
    }
    &:hover{
      &::before{
        width: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
   }
  }
}

.socialBlock{
  position: relative;
  @include flexPoition();
  gap: 25px;
  a{
    position: relative;
    color:#686666;
    span{
      position: absolute;
      top: -15px;
      left: -25px;
      transition: all 0.5s ease;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      padding: 5px;
      border-radius: 10px;
    }
    &:hover{
      span{
        transform: translateY(-15px);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.userBlock{
  @include flexPoition();
  gap: 15px;
  .avatarBlock{
    width: 50px;
    height: 50px;
    background-color: #686666;

  }
}
}


@media screen and (max-width: 991px) {
  header{
  display: none;
  }
}
@media screen and (max-width: 768px) {
  header{
  display: none;
  }
}