*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
@mixin flexPos(){
    display: flex;
    justify-content: center;
    align-items: center;
}


  
.admin-wrapper{
    
    background:
    linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url("/5bfb6f_26f1a5c736e544e09c63c82a4c792645~mv2_d_3839_1306_s_2.jpg");

    background-size:cover;
    background-position:center;
    min-height:100vh;
@include flexPos();
    .admin-card{
    width:420px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
   
    .logo{
    
@include flexPos();
width: 100%;

    margin-bottom:20px;

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}
h2{
    text-align: center;
}
.subtitle{
    text-align:center;
    color:#777;
    margin-bottom:30px;
}
.input-group{
    margin-bottom:20px;
    @include flexPos();
    align-items: flex-start;
    flex-direction: column;
    label{
    display:block;
    margin-bottom:8px;
    font-size:14px;
    color:#333;
    position: relative;
    }
    .inputBox{
        width: 100%;
        @include flexPos();
        gap: 5px;
    input{
    width:100%;
    padding:13px;
    border:1px solid #ddd;
    border-radius:8px;
    outline:none;
    font-size:15px;
&:focus{
    border-color:#0b4f6c;
}

}
.show_hide{
       position: relative;
       width: 45px;
       height: 45px;
       background-color: #fff;
       color: #000;
          border:1px solid #ddd;
          @include flexPos();
}
    }

    input{
    width:100%;
    padding:13px;
    border:1px solid #ddd;
    border-radius:8px;
    outline:none;
    font-size:15px;
&:focus{
    border-color:#0b4f6c;
}

}
}
button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#0b4f6c;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
    &:hover{
    background:#083b50;
}
}
}
}







.bottom-text {
  display: flex;
  align-items: center;
  margin-top: 15px;

.remember-me {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  user-select: none;
  input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  &:checked + .custom-checkbox {
  background: #2563eb;
  border-color: #2563eb;
}
&:checked + .custom-checkbox::after { content: ""; 
    width: 5px; 
    height: 9px; 
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff; 
    transform: rotate(45deg);
     margin-top: -2px; }
}
.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #cbd5e1;
  border-radius: 5px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
}

}






/* Checked */

.remember-me 

/* Check mark */

.remember-me input:checked + .custom-checkbox::after {
  content: "";
  width: 5px;
  height: 9px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  margin-top: -2px;
}

/* Hover */

.remember-me:hover .custom-checkbox {
  border-color: #2563eb;
}

/* Text */

.remember-text {
  font-size: 14px;
  color: #475569;
}





