@mixin flexPos(){
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.admin-sidebar {
display: flex;
flex-direction: column;
gap: 15px;

  .logo {
    width: 400px;
    height: 100px;
 @include flexPos();
 justify-content: center;
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  }


  nav {

    display:flex;
    flex-direction:column;


    a {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 15px;
      padding:15px 20px;
      color:white;
      text-decoration:none;


      &.active {

        background:#2563eb;

      }

    }

  }
  &.active{
    display: flex
  }

}

.languageBlock{
@include flexPos();
padding-left: 30px;
gap: 15px;
button{
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
}


@media screen and (max-width: 768px){
  .admin-sidebar{
    display: none;
    overflow-y: scroll;
  }
}